<h2>Forgot Your Password?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div id="username_field">
  <%= f.email_field :email, :placeholder => 'Email' %></div>

  <div id="buttonline">
  <input type="submit" id="loginbutton" class="float_left width_4" value="Send Reset Info"><% f.submit %>
</div>
<% end %>

