<%= generate_block "Upcoming Events" do %>
  <div id="calendar"></div>
<% end %>
<div class="clear"></div>
<%= link_to 'New Event', new_event_path %>
<script>
$(document).ready(function(){
  $('#calendar').fullCalendar({
   events: "/events/load.json",
   eventClick: function(event) {
     if(event.url)
          window.location.href = event.url
   }
  });
  <% if can? :manage, :events %>
  var space = document.createElement('span');
  space.className = "fc-header-space";
  var new_event_button = document.createElement('span');
  new_event_button.className = "fc-button fc-state-default fc-corner-left fc-corner-right";
  new_event_button.setAttribute("onclick","window.location.href = '/events/new'; return false;")
  new_event_button.innerHTML = "<span class=\"fc-button-inner\"><span class=\"fc-button-content\">new event</span><span class=\"fc-button-effect\"><span></span></span></span>";
  $('.fc-header-right').prepend(space);
  $('.fc-header-right').prepend(new_event_button);
  $('.fc-content').addClass("calendar");
  <% end %>
});
</script>